.weather-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: auto;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.weather-details {
    flex-grow: 1;
}

.weather-description {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.weather-temperature {
    font-size: 1.5rem;
    font-weight: 600;
}