.close-button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #333;
    transition: color 0.2s ease-in-out;
}

.close-button:hover {
    color: #ff5e5e;
}

.close-button:focus {
    outline: none;
}