.favorites-container {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 10px;
    min-width: 300px;
    width: 650px;
    height: auto;
}

@media (max-width: 768px) {
    .favorites-container {
        width: 100%;
        margin: 20px 0;
    }
}